---
const {src, caption} = Astro.props;
---

<div class="feature-image">
    <img src={src}/>
    <p class="text-gray-800 dark:text-gray-100">{caption}</p>
</div>

<style>
    .feature-image {
        text-align: center;

        display: block;
        margin-left: auto;
        margin-right: auto;

        width: 50vh;
    }

    img {
        border-radius: 1vh;
    }
</style>