---
const {title} = Astro.props;
---
<div class="icon-row">
    <p class="text-gray-800 dark:text-gray-100">{title}</p>
    <slot/>    
</div>

<style>
     .icon-row {
        margin: 0 auto;
        text-align: center;
     }

     p {
        font-weight: bold;
     }
</style>