---
const {name, caption, link, width, margin, dynamic} = Astro.props;
const url = link ? link : "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/" + name.toLowerCase() + "/" + name.toLowerCase() + "-original.svg";
---

<style>
    .icon {
        text-align: center;
        /*width: 8vh;*/
        display: inline-block;
        /*margin: 18px;*/
    }
</style>

<div class={"icon transition " + (dynamic ? "" : "hover:scale-110")} style={"width:"+(width ? width : "8vh")+"; " + "margin: " + (margin ? margin : "18px") + ";"}>
    <img src={url}>
    <p class="text-gray-800 dark:text-gray-100" style={"display: " + (caption ? "inline-block" : "none")}>{caption ? caption : name}</p>
</div>